html{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	height: 1000px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	a{
		text-decoration: none;
	}
	li{
		list-style-type: none;
	}
}

.container{
  max-width: 1190px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
}

header{
	padding: 30px 0;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #fafafa;
	.menu{
		width: 100%;
		text-transform: uppercase;
		nav{
			display: flex;
			justify-content: center;
			li{
				padding-left: 80px;
				a{
					color: #000;
					font-size: 20px;
					font-family: 'Open Sans', sans-serif;
					&:hover{
						color: #808080;
						transition: all 0.3s;
					}
				}
			}
		}
	}
}

.video{
	video{
		 width: 100%    !important;
		 height: 500px   !important;
	  	 object-fit: fill;
	  	 margin-top: 88px;
	}
}

.services{
	background-color: #EDA030;
	height: 300px;
	margin-top: -4px;
	h3{
		margin-left: auto;
		margin-right: auto;
	}
}

.our_works{
	.our_works__text{
		width: 100%;
		text-align: center;
		margin-top: 30px;
		h3{
			font-size: 23px;
			margin-bottom: 10px;
		}
		p{
			font-size: 20px;
			margin-top: 10px;
		}
		.line{
			width: 60px;
			height: 1px;
			background-color: #000;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.our_works__img{
		text-align: center;
		margin-bottom: 40px;
	}
}

.aboutUs{
	background-color: rgb(209,202,201);
	margin-top: -4px;
	height: 500px;
	.aboutUs__main{
		h3{
			font-size: 23px;
			margin-top: 45px;
		}
		.line{
			width: 60px;
			height: 2px;
			background-color: rgb(209,202,201);
			margin-left: auto;
			margin-right: auto;
		}
		background-color: #fff;
		text-align: center;
		max-width: 650px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	    margin-top: 70px;
    	border-radius: 5px;
    	p{
    		padding: 7px 30px;
    	}
	}
}

.catalog{
	.catalog__main{
		width: 100%;
		margin-top: 25px;
		h3{
			text-align: center;
			font-weight: 500;
		}
	}
	.catalog__list{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		.catalog__item{
			width: 25.3%;
			text-align: center;
			margin-top: 30px;
			h2{
				font-weight: 100;
			}
			span{
				color: #F56F22;
			}
			.catalog__button{
				cursor: pointer;
				width: 140px;
   		 		margin: 0 auto;
				p{
					background-color: #FCD4BC;
					padding: 8px;
				}
			}
		}
	}
}